/* FAQ.css */

.faq-page {
  position: relative; /* Necesario para el pseudo-elemento */
  background-image: url('../assets/fq.png'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  height: 88.9vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.faq-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Capa semitransparente negra */
  z-index: 1; /* Asegura que el pseudo-elemento esté por debajo del contenido */
}

.faq-page h1 {
  color: #ffffff; /* Color blanco */
  font-size: 2.5em; /* Ajusta el tamaño según tus preferencias */
  z-index: 1;
  margin-top: 20px;
}

.faq-container {
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 2; /* Asegura que el contenido esté por encima de la capa oscura */
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  padding: 15px;
  background: #00000067;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3em;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #203142;
}

.faq-answer {
  padding: 15px;
  background: #ffffff88;
  color: #000000;
  border-radius: 8px;
  margin-top: 5px;
}
