/* src/pages/Path1Component.css */
.path1-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Letras blancas */
}

.container {
  width: 80%;
  margin-bottom: 20px;
}

.main-image-container {
  position: relative;
  width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
  height: 50vh; /* Ajusta la altura según sea necesario */
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Capa semitransparente negra */
  z-index: 1;
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Letras blancas */
  font-size: 4em; /* Tamaño del título */
  z-index: 2;
}

.text-container {
  text-align: center;
}

.text-container h1 {
  color: #fff; /* Letras blancas */
  font-size: 4em; /* Tamaño del título */
}

.text-container h2 {
  color: #fff; /* Letras blancas */
  font-size: 3em; /* Tamaño del subtítulo */
}

.text-container p {
  color: #fff; /* Letras blancas */
  font-size: 1em; /* Tamaño del texto */
  padding: 30px; /* Espaciado del texto */
}

.two-images-container {
  display: flex;
  justify-content: space-between;
}

.two-images-container .side-image {
  width: 48%;
  border-radius: 8px;
}

.list-and-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente el contenido */
}

.list-and-image-container .list-container {
  flex: 1; /* Ocupa el espacio disponible */
  margin-right: 20px;
  padding-left: 100px;  /* Espacio entre la lista y la imagen */
}

.list-and-image-container .list-title {
  color: #fff; /* Letras blancas */
  font-size: 5em; /* Tamaño del título de la lista */
  margin-bottom: 10px; /* Espacio inferior del título */
  padding-left: 100px;
  font-size: 5em; /* Tamaño del título de la lista */ /* Espaciado izquierdo de la lista */
}

.title-container{
  font-size: 3.5em; /* Tamaño de la lista */
}

.list-and-image-container ul {
  list-style-type: disc;
  color: #fff; /* Letras blancas */
  font-size: 1.5em; /* Tamaño de la lista */
}

.list-and-image-container .list-image {
  width: 48%;
  border-radius: 8px;
}
