/* src/pages/Portfolio.css */
.portfolio-page {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio-container {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .portfolio-title {
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre las imágenes */
  }
  
  .image-wrapper {
    position: relative;
    cursor: pointer;
  }
  
  .image-wrapper img {
    width: 100%;
    height: auto;
  }
  
  .image-wrapper .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
  }
  
  .image-wrapper .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  