.services-page {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container-full {
    background-color: black;
    padding: 40px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.service-title-one {
    font-size: 70px;
}

/** -------------------------------- */

.services-page2 {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container2 {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.service-text-column2 {
    width: 50%; /* Ajuste para que ocupe la mitad */
    padding-left: 20px; /* Espaciado a la izquierda */
}

.service-title2 {
    font-size: 4em;
    margin-bottom: 10px;
    margin-left: 30px;
}

.service-description2 {
    font-size: 1.5em;
    margin-left: 30px;
}

.service-image-column2 {
    width: 50%; /* Ajuste para que ocupe la mitad */
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-video1 {
    width: 100%; /* Ancho total del contenedor */
    max-width: 1000px; /* Ancho máximo deseado */
    height: auto; /* Mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
}

/** -------------------------------- */

.service-container3 {
    background-color: black;
    color: white;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.service-image-column3 {
    width: 50%; /* Ajuste para que ocupe la mitad */
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-video2 {
    width: 100%; /* Ancho total del contenedor */
    max-width: 400px; /* Ancho máximo deseado */
    height: auto; /* Mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
}

.service-text-column3 {
    width: 50%; /* Ajuste para que ocupe la mitad */
    padding-right: 20px; /* Espaciado a la derecha */
}

.service-title3 {
    font-size: 4em;
    margin-bottom: 10px;
    margin-left: 30px;
}

.service-description3 {
    font-size: 1.5em;
    margin-left: 30px;
}


/** -------------------------------- */

.service-container4 {
    background-color: black; /* Color de fondo */
    background-image: url('../assets/fq1.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen de fondo */
    color: white;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar el contenido */
    box-sizing: border-box;
    border-radius: 10px; /* Opcional: bordes redondeados */
    margin: 20px 0; /* Opcional: espacio alrededor del contenedor */
}

.service-text-column4 {
    width: 100%; /* Ocupar el ancho completo */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espaciado entre texto e imagen */
}

.service-title4 {
    font-size: 3em;
    margin-bottom: 10px;
}

.service-description4 {
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
}

.service-image-column4 {
    width: 100%; /* Ocupar el ancho completo */
    display: flex;
    justify-content: center; /* Centrar la imagen */
}

.service-image4 {
    max-width: 600px; /* Ancho máximo deseado */
    height: auto; /* Mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
}


/** -------------------------------- */

.service-container6 {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


.service-image6-container {
    width: 100%;
}

.service-image6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/** -------------------------------- */

.service-container7 {
    background-color: black;
    color: white;
    width: 100%;
    height: 50vh;
    /* Reducido a 80% del viewport en altura */
    text-align: center;
    box-sizing: border-box;
    background-image: url('../assets/serviceFondo1.png');
    /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: center;
    margin-top: -20px;
}

/** -------------------------------- */

.services-page8 {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container8 {
    background-color: black;
    color: white;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.service-image-column8 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image8 {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: -400px;
}

.service-text-column8 {
    width: 100%;
    padding-right: -100px;
}

.service-title8 {
    font-size: 3em;
    margin-bottom: 10px;
}

.service-description8 {
    font-size: 1.5em;
}

/** -------------------------------- */

.services-page9 {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container9 {
    background-color: black;
    color: white;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.service-image-column9 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image9 {
    width: 80%;
    max-width: 15   00px;
    height: auto;
}
