/* General Page Container */
.page-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Certification Container */
.certification-container {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}

.certification-content {
  position: relative;
  z-index: 1;
  color: white;
}

.certification-logo {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
}

.certification-title {
  font-size: 4em;
  margin-top: 0;
}

/* Team Description Container */
.team-description-container {
  position: relative;
  background-image: url('../assets/Fondo_Equipo.png'); 
  background-size: cover; 
  background-position: center; 
  color: white; 
  padding: 20px; 
}

/* Flex Container for Two Columns */
.team-columns {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  margin-top: 20px; 
}

/* Titles and Paragraphs */
.team-description-container h2 {
  font-size: 2em; 
  margin-bottom: 10px;
}

.team-description-container p {
  font-size: 1.3em; 
  max-width: 1000px; 
  margin: 0 auto;
  line-height: 1.5; 
}

/* Responsive h3 */
.team-description-container h3 {
  font-size: 3em; 
  margin-bottom: 10px;
}

.tasks-developed ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  font-size: 1.3em; 
}

.team-info {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  margin-top: 20px; 
}

.team-overview {
  margin: 10px; 
  text-align: center; 
  flex: 1; 
}

.tasks-developed {
  margin: 10px; 
  text-align: center;
  flex: 1; 
  align-self: flex-start; 
}

/* Reference Image Container */
.reference-image {
  flex: 1; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.reference-image img {
  width: 70%; 
  height: auto; 
  margin-top: 50px;
}

/* Awards Container */
.awards-container {
  position: relative;
  background-image: url('../assets/Fpremio.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  color: white;
  z-index: 1;
}

.awards-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651); /* Ajusta la opacidad para oscurecer más o menos */
  z-index: -1; /* Asegúrate de que el pseudo-elemento esté detrás del contenido */
}

.awards-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; 
  padding: 20px;
  border-radius: 10px; 
}

.awards-image {
  flex: 1; /* Allow column to grow */
  max-width: 40%; /* Max width of the image column */
}

.awards-image img {
  max-width: 100%; /* Ensure the image is responsive */
  height: 350px;
  margin: 150px; /* Maintain the aspect ratio */
}

.awards-description {
  flex: 1; /* Allow column to grow */
  padding-left: 20px; /* Space between image and text */
}

.awards-description h2 {
  font-size: 3em;
  margin-bottom: 10px;
  margin-left: 100px;
}

.awards-description p {
  font-size: 1.5em;
  margin: 0;
  margin-left: 100px;
}

/* Clients Container */
.clients-container {
  padding: 20px;
  text-align: center;
  background-color: #d3d2d2; /* Light gray background */
}

.clients-container h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

/* Slider for Clients */
.slider {
  width: 80vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(200px * 18); /* Ajusta según el número total de imágenes */
}

.slide {
  flex: 0 0 200px; /* Mantiene un ancho fijo */
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: 0 30px; /* Espacio lateral entre las imágenes */
}

.slide img {
  width: 100%;
  height: auto; /* Mantiene la proporción */
  filter: grayscale(100%) sepia(100%) brightness(0%); /* Aplica un filtro combinado */
}

.clients-container h2 {
  font-size: 4em; /* Ajusta el tamaño según tus necesidades */
  color: rgb(0, 0, 0); /* Cambia el color a blanco */
}

/* Keyframes para la animación */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 9)); /* Ajusta según el número de imágenes que se muestran */
  }
}


/* Responsive Styles */
@media (max-width: 1200px) {
  .certification-title {
    font-size: 3.5em;
  }

  .team-description-container h2 {
    font-size: 2.5em;
  }

  .team-description-container p {
    font-size: 1.1em;
  }

  .team-description-container h3 {
    font-size: 1.8em;
  }

  .awards-description h2 {
    font-size: 1.8em;
  }

  .awards-description p {
    font-size: 0.9em;
  }

  .clients-gallery {
    grid-template-columns: repeat(6, 1fr); /* Adjust number of columns */
  }
}

@media (max-width: 992px) {
  .certification-logo {
    width: 40%;
  }

  .certification-title {
    font-size: 3em;
  }

  .team-description-container h2 {
    font-size: 2em;
  }

  .team-description-container p {
    font-size: 1em;
  }

  .team-description-container h3 {
    font-size: 1.6em;
  }

  .awards-description h2 {
    font-size: 1.5em;
  }

  .awards-description p {
    font-size: 0.8em;
  }

  .clients-gallery {
    grid-template-columns: repeat(4, 1fr); /* Adjust number of columns */
  }
}

@media (max-width: 768px) {
  .certification-logo {
    width: 50%;
  }

  .certification-title {
    font-size: 2.5em;
  }

  .background-video {
    height: 80%;
  }

  .certification-container {
    height: 80vh;
  }

  .team-description-container h2 {
    font-size: 1.8em;
  }

  .team-description-container p {
    font-size: 0.9em;
  }

  .team-description-container h3 {
    font-size: 1.4em;
  }

  .team-columns {
    flex-direction: column; /* Stack columns vertically */
  }

  .reference-image {
    order: 2; /* Move image below the tasks-developed */
  }

  .reference-image img {
    width: 80%; /* Adjust image width for smaller screens */
  }

  .awards-content {
    flex-direction: column; /* Stack columns vertically */
  }

  .awards-description {
    padding-left: 0;
    padding-top: 20px;
  }

  .clients-gallery {
    grid-template-columns: repeat(2, 1fr); /* Adjust number of columns */
  }
}

@media (max-width: 576px) {
  .certification-logo {
    width: 60%;
  }

  .certification-title {
    font-size: 2em;
  }

  .background-video {
    height: 70%;
  }

  .certification-container {
    height: 70vh;
  }

  .team-description-container h2 {
    font-size: 1.5em;
  }

  .team-description-container p {
    font-size: 0.8em;
  }

  .team-description-container h3 {
    font-size: 1.2em;
  }

  .clients-gallery {
    grid-template-columns: 1fr; /* Adjust number of columns */
  }
}
