* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sulphur Point', sans-serif;
}

/** Home */

.home-container {
  position: relative;
  width: 100%;
  height: 88.9vh;
  overflow: hidden;
  display: flex;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás del contenido */
}

.content-left,
.content-right {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté encima del video */
  flex: 1; /* Ajusta el tamaño de ambas columnas para que sean iguales */
  padding: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.content-left h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  text-align: justify; /* Centrar el texto */
  letter-spacing: -1px; /* Reducir el espaciado entre letras */
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear elementos al inicio (izquierda) */
  text-align: justify;
  padding-left: 50px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinear a la izquierda */
  margin-top: 40px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #ccc;
  color: #000000;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.2rem;
  width: 30%; /* Ocupar todo el ancho disponible */
  max-width: 300px; /* Establecer un ancho máximo */
}

.icon-box img {
  width: 90px;
  height: 60px;
}




.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 80%; 
  height: 80vh;
  z-index: 1;
}

.image-container canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}


@media (max-width: 1324px) {
  .home-container {
    height: auto; 
    flex-direction: column; 
  }

  .content-left,
  .content-right {
    flex: 1; 
    padding: 10px; 
  }

  .image-container {
    height: 50vh; 
  }

  .icon-box {
    font-size: 1rem; 
    padding: 5px 10px; 
  }

  .icon-box img {
    width: 60px; 
    height: 40px;
  }
}
